header .headerTop {
    display: flex;
    justify-content: space-between;
}
header .headerTop .headerLeft,
.headerRight {
    display: flex;
    align-items: center; /*위아래 정렬*/
}

.headerRight ul{
    list-style: none;
    display: flex;
}

.headerRight ul li{
    margin: 0px 10px;
}